<div class="login">
<% if user_signed_in? %>
  Signed in as: <%=warden.user.email%></br>
  <%unless request.path_parameters[:controller]== 'base' && request.path_parameters[:action]=='index'%>
    <%= link_to('Home', root_path) %>
  <%end%>
   <%= link_to('Logout', destroy_user_session_path) %>
<%else%>
<% end %>
</div>
