<section id="AMTpending">
<div class="row">
  <div class="page-header">
    <h2>Welcome</h2>
  </div>
  <div class="span16 columns">
    <%=render :partial => 'base/intro'%>
    <p>
    If you would like to take part in this task please press "Accept HIT" at the top of this page.
    </p>
  </div>
</div>
