<section id="AMTwelcome">
<div class="row">
  <div class="page-header">
    <h2>Welcome</h2>
  </div>
  <div class="span16 columns">
    <%=
      render :partial => "listeningtest/testlist" 
    %>
  </div>
</div>
</section>
