<section id="AMTwelcome">
<div class="row">
  <div class="page-header">
    <h2>Welcome</h2>
  </div>

  <p>
  Thank you for accepting this HIT.
  </p>
  <%=
    render :partial => "listeningtest/testlist" 
  %>
</div>
</section>
