<p>Hello to take part in this test you're going to need to be able to play these files.</p>
<% sc = Hash[]%>
<%= render :partial => 'base/player', :object => sc, :locals => {:player_counter => 0, :location => 'natural/news/001c0202.wav', :variable => nil}%>
