<h2>Welcome</h2>
<p>Would you like to </p>
<% if !user_signed_in? %>
  <%= link_to 'Sign in', new_user_session_path  %><br/>
  <%= link_to 'Sign up', new_user_registration_path  %>
<% else %>
  <%= link_to 'Continue to testing ', listeningtest_index_path %>

<% end %>

