<%
 require 'ruby-aws'
 @mturk = Amazon::WebServices::MechanicalTurkRequester.new
%>
<h2>Turk</h2>
<p>Turk stuff</p>
<%def createHelloWorld
  title = "Answer a question"
  desc = "This is a HIT created by the Amazon Mechanical Turk SDK for Ruby.  Please answer the question."
  keywords = "sample, SDK, hello"
  numAssignments = 1
  rewardAmount = 0.05 # 5 cents

  questionFile = Rails.root.join('public', 'resources','external.question')
  question = File.read( questionFile )

  result = @mturk.createHIT( :Title => title,
                    :Description => desc,
                    :MaxAssignments => numAssignments,
                    :Reward => { :Amount => rewardAmount, :CurrencyCode => 'USD' },
                    :Question => question,
                    :Keywords => keywords )

  %>
  <%="Created HIT: #{result[:HITId]}"%>
  <%="Url: #{getHITUrl( result[:HITTypeId] )}"%>
  <%
 end

 def hasEnoughFunds?
   available = @mturk.availableFunds
    puts "Got account balance: %.2f" % available
    return available > 0.055
  end

  def getHITUrl( hitTypeId )
    if @mturk.host =~ /sandbox/
    "http://workersandbox.mturk.com/mturk/preview?groupId=#{hitTypeId}" # Sandbox Url
    else
    "http://mturk.com/mturk/preview?groupId=#{hitTypeId}" # Production Url
    end
  end
        
createHelloWorld
%>
