<h2>Listening Test</h2>

<% if @participant.blank? %>
You are not a member of any listening tests
<% else %>
  <% if @sections.blank? %>
    <p>No current tasks </p>
  <% else %>
    <p>Current sections: </p>
    <ul id="sections">
      <% @sections.each do |s|%>
        <li><%= link_to "Section #{s.id}", s %> <%=@participant.answeredCount%>/<%=s.latinSqSize%>
      <%end%>
    </ul>
  <%end%>
<%end%>
