<h2>User list</h2>
<%= form_for User.new do |u|%>
  <% User::USER_GROUPS.each do |ug| %>
    <h3><%=ug.first%></h3>
    <%if ug.second!='A'%>
      <p>
    <%end%>
    <%= render :partial => 'userlist', :locals => {:ug => ug} %>
  <%end%>
<%end%>
