<div class="row">
  <div class="page-header">
    <h2>User list</h2>
  </div>
  <div class="span16 columns">
    <ul class="tabs">
        <% User::USER_GROUPS.each do |ug| %>
          <%if ug.second==params['id']%>
            <li class="active">
          <% else %>
            <li>
          <%end%>
              <strong><%=link_to ug.first, :id => ug.second%></strong>
            </li>
    <%end%>
    </ul>
    <%=
      render :partial => 'userlist', :locals => {:ug => params['id']} 
    %>
  </div>
</div>
